.current-post-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-container {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}